<p id="notice"><%= notice %></p>

<h1>Aviaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aviaries.each do |aviary| %>
      <tr>
        <td><%= aviary.name %></td>
        <td><%= aviary.description %></td>
        <td><%= link_to 'Show', aviary %></td>
        <td><%= link_to 'Edit', edit_aviary_path(aviary) %></td>
        <td><%= link_to 'Destroy', aviary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aviary', new_aviary_path %>
